/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style */
/*Variables*/
:root {
    --primary: #377e80;
    --secondary: #f5e4e4;
    --tertiory: #ffffff;
    --darktext: #000000;
    --lighttext: rgb(130, 130, 130);
  }
  
  /*Global*/
  html {
    font-size: 16px;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--secondary);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .padding {
    padding: 8rem ;
  }
  
  a {
    text-decoration: none;
  }
  
  /*Flex*/
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .flex-column {
    flex-direction: column;
    justify-content: center;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .flex-32 {
    flex: 0 1 32%;
  }
  
  
  /*Buttons*/
  
  .btn {
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin: 1rem auto;
    outline: none;
    border: none;
  }
  
  .btn-primary {
    color: #fff;
    background-color: var(--primary);
    border: 1px solid darkgray;
  }
  
  
  /*Headings*/
  
  h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem 0;
  }
  
  h2 {
    font-size: 1rem;
    margin: 0.5rem auto;
    font-weight: 700;
  }
  
  /* Header */
  .header {
    background-color: var(--primary);
    color: #fcef52;
  }
  
  /* Main */
  
  .card {
    background-color: #ffffff;
    padding: 2rem auto;
  }
  
  .image {
    width: 50%;
    margin-top: -5rem;

  }
  
  cite {
    font-size: 1.2rem;
    color: var(--lighttext);
  }
  